<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shout-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ShoutPackageDescription.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>ShoutPackageTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Socket.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>SocketPackageDescription.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
</dict>
</plist>
